.imgLogo {
    height: 70px;
    margin-right: 10px;
}

.church_name_lg {
    display: inline;
}

.church_name_sm {
    display: none;
}

body {
    background: url("https://images.pexels.com/photos/19670/pexels-photo.jpg");
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
}

.navbar-light .navbar-nav .nav-link {
    color: black !important;
}

.nav-link :hover {
    color: red !important;
}

.navbar-light {
    width: 100% !important;
}

.section-body {
    margin-top: 4rem;
}

.welcomeimg {
    aspect-ratio: auto;
    height: 50vh;
    width: auto;
    box-shadow: 0px 2px 18px #3f51b5;
}

.welcome_text {
    padding: 10px;
}

.tabTitle {
    font-size: 2.25em;
    padding: 20px;
}


.full-height {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cross_logo{
    border-radius: 50%;
    width:100px !important;
    box-shadow: 0px 2px 18px #ffbc0a;
    
}

.service_card{
    background-color: #ffffff;
    transition: transform 0.3s ease;
    min-height: 100% !important;
}
.service_card:hover {
    transform: translateY(-10px);
}

.card-img-top { 
    min-width:20vw;
}

.leaders{
    min-width: 20vw;
    min-height: 75vh;
}






footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/19670/pexels-photo.jpg");
    background-size: cover;
    background-position: top;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer .church {
    width: 35%;
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
}

footer h3 {
    color: #fff;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}


footer ul li a {
    color: white;
}

footer ul li :hover {
    color: red;
}

#copyright {
    margin-top: 20px;
}




/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 1023px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}





/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

    .imgLogo {
        height: 40px;
        margin-right: 10px;
    }

    .welcomeimg {
        aspect-ratio: auto;
        height: 28vh;
        width: auto;
    }

    .church_name_lg {
        display: none;
    }

    .church_name_sm {
        display: inline;
    }

    .img_margin_sm{
        margin-top: 10px;
    }

    .leaders{
        max-width: 100% !important;
        margin-top: 20px;
        min-height: 60vh;
    }

    .card-img-top { 
        width: 100% !important
    }
    
    .welcomeimg{
        aspect-ratio: auto;
        height: 50vh;
        width: auto;
    }



}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}